<div class="whitespace" style="height: 85px;"></div>

<div class="row mx-auto text-center">
	<div class="col-12">
		<h1 class="tool-title">{{ name }}</h1>
	</div>
	<div class="col-12">
		<img class="img-fluid rounded img-b" src="/assets/img/enum.jpg" draggable="false">
	</div>
</div>
<div class="container1 mx-auto text-center">
	<div class="col-12">
		<h3 class="heading">Description</h3>
		<div class="heading-underline"></div>
	</div>
	<div class="col-12">
		<p>{{ description }}</p>
		<p>Tools Utilized: {{ toolsUtilized }}</p>
		<p>Last update was <b>{{ lastUpdate | fromNow }}</b></p>
	</div>
	<div class="col-12">
		<h3 class="heading">Installation</h3>
		<div class="heading-underline"></div>
	</div>
	<div class="col-12 container">
		<p>You can either download the file or install via CLI</p>
		<a (click)="openBottomSheet()" mat-raised-button>Download</a>
		<div class="whitespace" style="height: 20px;"></div>
		<div class="text-left mx-auto terminal">
			<pre class="text-left"><span class="remove-s">&gt; </span>git clone {{ githubRepositoryLink }}.git enum</pre>
			<pre class="text-left"><span class="remove-s">&gt; </span>cd enum</pre>
			<pre class="text-left"><span class="remove-s">&gt; </span>sudo chmod +x install.sh</pre>
			<pre class="text-left"><span class="remove-s">&gt; </span>sudo chmod +x enum.sh</pre>
			<pre class="text-left"><span class="remove-s">&gt; </span>sudo ./install.sh</pre>
		</div>
	</div>
	<div class="col-12">
		<h3 class="heading">Feedback</h3>
		<div class="heading-underline"></div>
	</div>
	<div class="col-12">
		<p>I really appreciate it if you take some time and provide me with some feedback! You can reach me via <a href="{{ twitter }}" target="_blank">Twitter</a> or via <a href="mailto:be1807v@pm.me">email</a>!<br>If you encounter any problems while utilizing the script or you just have an feature that you want to add, please create an issue or a pull request on Github! Thank you!</p>
	</div>
	<div class="col-12">
		<a href="{{ githubRepositoryLink }}" target="_blank" class="button1" mat-raised-button>Github Repository</a>
	</div>
</div>
<div class="whitespace"></div>