@import "./src/styles";

* {
    overflow: hidden;
}

.title {
    font-size: 1.8rem;
    font-weight: 450;
    text-transform: uppercase;
}

.info {
    @include remove-selection();
    font-size: 1.3rem;

    a {
        color: inherit;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #ff486a;
        }
    }

    span {
        font-weight: 600;

        &:hover {
            color: #ff486a;
            cursor: pointer;
        }
    }
}

.img-b {
    height: 65%;
    width: 57%;
    margin-top: 1rem;
    @include remove-selection();
}

.intro {
    margin-top: 3rem;
    width: 57%;

    p {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

.blog-body {
    margin-top: 25px;
    width: 57%;
    font-size: 1.1rem;

    h3 {
        font-size: 1.3rem;
        font-weight: 550;
    }

    h2 {
        font-size: 1.6rem;

        a {
            text-decoration: none;

            fa-icon {
                font-size: 1.6rem;
            }
        }
    }

    .copy-btn {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.alert {
    @include remove-selection();

    .alert-heading {
        font-size: 1.5rem;
    }
}

.space-b {
    height: 25px;
}

.remove-s {
    @include remove-selection();
}

.whitespace {
    height: 125px;
}

@media (max-width: 767px) {
    
    .img-b {
        margin-top: 1rem;
        height: 100%!important;
        width: 100%!important;
        margin: 0px;
    }

    .intro {
        margin-top: 1rem;
        width: 100%;

        p {
            font-size: 0.8rem;
        }
    }

    .blog-body {
        margin-top: 10px;
        width: 100%;

        p {
            font-size: 0.8rem;
        }

        h2 {
            font-size: 1.2rem;

            a {
                text-decoration: none;

                fa-icon {
                    font-size: 1.2rem;
                }
            }
        }
    }
}