@import "./src/styles";

* {
    overflow: hidden;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.navbar {
	text-transform: uppercase;
	font-weight: 550;
	font-size: .90rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, .8)!important;
}

.navbar-brand img {
	height: 45px;
	width: 45px;
}

.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link {
	color: white;
	padding-top: .8rem;
	background: rgba(0, 0, 0, 0);
}

.nav-link {
	@include remove-selection();
	border-radius: 4px;
}

.nav-link:hover {
	background: rgba(154, 154, 154, 0.15);
}

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover {
	color: #1ebba3;
}


footer {
	background-color: #40474e;
	color: white;
	padding: 2rem 0 2rem;
	margin-top: 1rem;
	
	p {
		@include remove-selection();
		font-size: 1rem;
	}

	code {
		background-color: #2a2a2a;
		color: #fff;
		border-radius: 4px;
		padding: 4px;
		margin-bottom: 25px;
	}

	code::-moz-selection {
		-webkit-background-clip: text;
		-webkit-text-fill-color: teal;
		background-color: transparent;
		color: #FF0000;
	}

	code::selection {
		-webkit-background-clip: text;
		-webkit-text-fill-color: teal;
		background-color: transparent;
		color: #FF0000;
	}

	a {
		color: inherit;
		margin-top: 20px;
	}

	fa-icon {
		font-size: 1.6rem;
		margin: 1.2rem .5rem 0 0;
	}
}

.github-icon:hover {
		color: #2a2a2a;
}

.twitter-icon:hover {
		color: #1da1f2;
}

.mail-icon:hover {
		color: #ffa94d;
}