<div class="whitespace" style="height: 85px;"></div>
<div class="col-12 text-center mx-auto">
	<h3 class="heading">Tools</h3>
	<div class="heading-underline"></div>
</div>
<div class="whitespace" style="height: 50px;"></div>
<div class="container-1 mx-auto">
  	<div class="row justify-content-center">
    	<div class="col-md-4 text-center">
    		<h4 class="heading">Crack The Hash <span class="badge badge-warning">FEATURED!</span></h4>
    		<p>A powerfull hash cracker that is written in python3 which supports 15 hashtypes (and even more will follow up)! Crack your hash in seconds while utilizing a wordlist like rockyou.txt!</p>
            <button routerLink="/tools/cth" color="primary" mat-raised-button>Start cracking!</button>
	   	</div>
    	<div class="col-md-8 text-center">
    		<a routerLink="/tools/cth"><img class="img-fluid rounded img-b" src="/assets/img/cth.jpg" alt="Crack The Hash"></a>
    	</div>
	</div>
</div>
<div class="jumbotron text-center mx-auto">
	<h3 class="heading">The <span class="badge badge-danger">#1</span> tool for your subdomain enumeration!</h3>
</div>
<div class="container-1 mx-auto text-center">
  	<div class="row justify-content-center">
    	<div class="col-md-4">
    		<h4 class="heading">Enum.sh</h4>
    		<p>This is the enumeration script that combines several subdomain scanning tools!</p>
    		<button routerLink="/tools/enum" color="primary" mat-raised-button>Start enumerating!</button>
	   	</div>
    	<div class="col-md-8">
    		<a routerLink="/tools/enum"><img class="img-fluid rounded img-b" src="/assets/img/enum.jpg" alt="Enum.sh"></a>
    	</div>
	</div>
</div>
<div class="whitespace"></div>